
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/skins/base/common.css" rel="stylesheet" type="text/css" />
    <link href="/skins/default/default.css" rel="stylesheet" type="text/css" />
    <link href="/skins/base/editInterface.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common/common.js"></script>
    <script type="text/javascript" src="/my97DatePicker/wdatepicker.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>

</head>
<body>
    <div class="col_main">

        <!-- 新建商品 -->
        <div class="cont1">
           
            <div class="f_cb">
                <div class="f_cb">

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>波段:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD02" class="com_input" readonly="readonly" value="@ViewBag.SCJD02">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>品牌:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD03" class="com_input" readonly="readonly" value="@ViewBag.SCJD03">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>加工方式:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD04" class="com_input" readonly="readonly" value="@ViewBag.SCJD04">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>款号:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD05" class="com_input" readonly="readonly" value="@ViewBag.SCJD05">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>款式:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD06" class="com_input" readonly="readonly" value="@ViewBag.SCJD06">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>颜色:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD07" class="com_input" readonly="readonly" value="@ViewBag.SCJD07">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>110/S
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD94" class="com_input" value="@ViewBag.SCJD94">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>120/M
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD95" class="com_input" value="@ViewBag.SCJD95">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>130/L
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD96" class="com_input" value="@ViewBag.SCJD96">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>140/XL
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD97" class="com_input" value="@ViewBag.SCJD97">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>150/均码
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD98" class="com_input" value="@ViewBag.SCJD98">
                        </span>
                    </div>


                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>工厂:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD22" class="com_input" value="@ViewBag.SCJD22">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span">   <i class="red_point">*</i>合同货期:</span>
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD23" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD23" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>跟单员:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD24" class="com_input" value="@ViewBag.SCJD24">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span">   <i class="red_point">*</i>技术部提供用量:</span>
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD99" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD99" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span">   <i class="red_point">*</i>物控下采购建议单:</span>
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD100" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD100" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span">   <i class="red_point">*</i>技术部下单期:</span>
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD34" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD34" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span">   <i class="red_point">*</i>批颜色:</span>
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD35" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD35" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span">   <i class="red_point">*</i>批产前办:</span>
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD36" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD36" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span">  <i class="red_point">*</i>提供检测报告日期:</span>
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD37" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD37" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>洗水唛时间:</span>
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD38" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD38" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>贴纸时间:</span>
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD104" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD104" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"><i class="red_point">*</i>物控下单日期:</span>
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD39" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD39" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">
                        <label class="add_label f_fl">
                            <span class="f_pdl15 pd_span">齐料日期:</span>
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD40" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD40" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">
                        <label class="add_label f_fl">
                            <span class="f_pdl15 pd_span">财务部付款时间:</span>
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD102" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD102" />
                            </div>
                        </div>
                    </div>

                    @*////----------------////*@
                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>外发下单日期
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD41" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD41" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>产前样提供日期
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD47" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD47" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>产前OK日期
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD48" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD48" />
                            </div>
                        </div>
                    </div>

                    @*<div class="f_cb f_mt25 spxg">

            <label class="add_label f_fl">
                <i class="red_point">*</i>110/S下单
            </label>
            <span class="clear_bd f_fl xg1">
                <input type="text" id="SCJD08" class="com_input" value="@ViewBag.SCJD08">
            </span>
        </div>

        <div class="f_cb f_mt25 spxg">

            <label class="add_label f_fl">
                <i class="red_point">*</i>120/M下单
            </label>
            <span class="clear_bd f_fl xg1">
                <input type="text" id="SCJD09" class="com_input" value="@ViewBag.SCJD09">
            </span>
        </div>

        <div class="f_cb f_mt25 spxg">

            <label class="add_label f_fl">
                <i class="red_point">*</i>130/L下单
            </label>
            <span class="clear_bd f_fl xg1">
                <input type="text" id="SCJD10" class="com_input" value="@ViewBag.SCJD10">
            </span>
        </div>

        <div class="f_cb f_mt25 spxg">

            <label class="add_label f_fl">
                <i class="red_point">*</i>140/M下单
            </label>
            <span class="clear_bd f_fl xg1">
                <input type="text" id="SCJD11" class="com_input" value="@ViewBag.SCJD11">
            </span>
        </div>

        <div class="f_cb f_mt25 spxg">

            <label class="add_label f_fl">
                <i class="red_point">*</i>150/均码下单
            </label>
            <span class="clear_bd f_fl xg1">
                <input type="text" id="SCJD12" class="com_input" value="@ViewBag.SCJD12">
            </span>
        </div>*@

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>110/S实裁
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD50" class="com_input" value="@ViewBag.SCJD50">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>120/M实裁
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD51" class="com_input" value="@ViewBag.SCJD51">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>130/L实裁
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD52" class="com_input" value="@ViewBag.SCJD52">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>140/XL实裁
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD53" class="com_input" value="@ViewBag.SCJD53">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>150/均码实裁
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD54" class="com_input" value="@ViewBag.SCJD54">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>裁剪差异数
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD55" class="com_input" value="@ViewBag.SCJD55">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>差异原因
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD56" class="com_input" value="@ViewBag.SCJD56">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>生产异常
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD57" class="com_input" value="@ViewBag.SCJD57">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>品控签单日期
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD67" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD67" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>工厂送货日期
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD107" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD107" />
                            </div>
                        </div>
                    </div>

                    @*//添加一列工厂送货总数*@
                    <div class="f_cb f_mt25 spxg">
                        <label class="add_label f_fl">
                            <span class="f_pdl15">工厂送货总数</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD106" class="com_input" value="@ViewBag.SCJD106">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>对账时间
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD75" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD75" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">
                        <label class="add_label f_fl">
                            <span class="f_pdl15">延期备注</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD86" class="com_input" value="@ViewBag.SCJD86">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>尾数状态
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <select name="ddlColumnsSource" id="SCJD87" class="pass_faq">
                                <option selected="selected" value="1">　是</option>
                                <option value="2">　否</option>
                            </select>
                        </span>
                    </div>
                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>开裁日期
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD49" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD49" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>车间上线日期
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD59" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD59" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>车间下线日期
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD61" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD61" />
                            </div>
                        </div>
                    </div>
                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>车间成品数量
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SL" class="com_input" value="@ViewBag.SL">
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <!--按钮-->
        <div class="spxg bf_bnt">
            <div class="add_r f_fl">
                <!-- 保存并返回 -->
                <div class="view_btn f_mt30">
                    <div class="sp_deletbtn baocun bjym" onclick="javascript: window.history.back(-1);">
                        <span class="bnt_span">
                            <img class="bnt_img" src="/skins/img/back.png">
                        </span>返回
                    </div>
                    <div id="btnBC" class="sp_xjbtn baocun bjym">
                        <span class="bnt_span" id="btnKeep"><img class="bnt_img" src="/skins/img/ico04.png" style=""></span>保存
                    </div>

                </div>



            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var id = "@ViewBag.id";
            //保存编辑
            $("#btnBC").click(function () {
                $.ajax({
                    url: "/GoodsInfo/GetEditPDSCJDB",
                    timeout: 0, //超时时间设置，单位毫秒
                    type: "post",
                    data:
                        {
                            id: id,
                            SCJD05: $("#SCJD05").val(),
                            //SCJD20: $("#SCJD20").val(),
                            //SCJD21: $("#SCJD21").val(),
                            SCJD94: $("#SCJD94").val(),
                            SCJD95: $("#SCJD95").val(),
                            SCJD96: $("#SCJD96").val(),
                            SCJD97: $("#SCJD97").val(),
                            SCJD98: $("#SCJD98").val(),
                            SCJD22: $("#SCJD22").val(),
                            SCJD23: $("#SCJD23").val(),
                            SCJD24: $("#SCJD24").val(),
                            SCJD99: $("#SCJD99").val(),
                            SCJD100: $("#SCJD100").val(),
                            SCJD34: $("#SCJD34").val(),
                            SCJD35: $("#SCJD35").val(),
                            SCJD36: $("#SCJD36").val(),
                            SCJD37: $("#SCJD37").val(),
                            SCJD38: $("#SCJD38").val(),
                            SCJD104: $("#SCJD104").val(),
                            SCJD39: $("#SCJD39").val(),
                            SCJD40: $("#SCJD40").val(),
                            SCJD102: $("#SCJD102").val(),
                            SCJD41: $("#SCJD41").val(),
                            //SCJD08: $("#SCJD08").val(),
                            //SCJD09: $("#SCJD09").val(),
                            //SCJD10: $("#SCJD10").val(),
                            //SCJD11: $("#SCJD11").val(),
                            //SCJD12: $("#SCJD12").val(),
                            SCJD47: $("#SCJD47").val(),
                            SCJD48: $("#SCJD48").val(),
                            SCJD50: $("#SCJD50").val(),
                            SCJD51: $("#SCJD51").val(),
                            SCJD52: $("#SCJD52").val(),
                            SCJD53: $("#SCJD53").val(),
                            SCJD54: $("#SCJD54").val(),
                            SCJD55: $("#SCJD55").val(),
                            SCJD56: $("#SCJD56").val(),
                            SCJD57: $("#SCJD57").val(),
                            SCJD67: $("#SCJD67").val(),
                            SCJD75: $("#SCJD75").val(),
                            SCJD86: $("#SCJD86").val(),
                            SCJD87: $("#SCJD87").val(),
                            SCJD106: $("#SCJD106").val(),
                            SCJD107: $("#SCJD107").val(),
                            SCJD49: $("#SCJD49").val(),
                            SCJD59: $("#SCJD59").val(),
                            SCJD61: $("#SCJD61").val(),
                            SL: $("#SL").val()
                        },
                    success: function (data) {
                        if (data == "OK") {
                            layer.open({
                                title: '消息',
                                content: '编辑成功！',
                                btn: ['确定'],
                                yes: function (index, layero) {
                                    window.history.back(-1);
                                    //layer.closeAll();
                                }
                            });
                        } else if (data == "Operation") {
                            layer.alert("您没有权限请和管理员联系");
                        }
                        else {
                            layer.alert("可能是哪里出错了！");
                        }
                    },
                    error: function () {
                        layer.alert("服务器连接超时");
                        
                    }
                })
            })
        })

    </script>
</body>
</html>