
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品控质检报工</title>
    <link href="/skins/base/common.css" rel="stylesheet" type="text/css" />
    <link href="/skins/default/default.css" rel="stylesheet" type="text/css" />
    <link href="/skins/base/editInterface.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common/common.js"></script>
    <script type="text/javascript" src="/my97DatePicker/wdatepicker.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>

</head>
<body>
    <div class="col_main">

        <!-- 新建商品 -->
        <div class="cont1">

            <div class="f_cb">
                <div class="f_cb">

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>波段:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD02" class="com_input" readonly="readonly" value="@ViewBag.SCJD02">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>品牌:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD03" class="com_input" readonly="readonly" value="@ViewBag.SCJD03">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>加工方式:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD04" class="com_input" readonly="readonly" value="@ViewBag.SCJD04">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>款号:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD05" class="com_input" readonly="readonly" value="@ViewBag.SCJD05">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>款式:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD06" class="com_input" readonly="readonly" value="@ViewBag.SCJD06">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <span class="pd_span"> <i class="red_point">*</i>颜色:</span>
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD07" class="com_input" readonly="readonly" value="@ViewBag.SCJD07">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>品管人
                        </label>
                        <span class="clear_bd f_fl xg1">
                            <input type="text" id="SCJD31" class="com_input" value="@ViewBag.SCJD31">
                        </span>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>产前会议日期
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD58" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD58" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>开裁日期
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD49" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD49" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>车间上线时间
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD59" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD59" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>中期检验时间
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD60" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD60" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>车间下线时间
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD61" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD61" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>尾查一次
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD62" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD62" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>尾查二次
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD63" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD63" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>尾查三次
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD64" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD64" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>尾期检验时间
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD65" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD65" />
                            </div>
                        </div>
                    </div>

                    <div class="f_cb f_mt25 spxg">

                        <label class="add_label f_fl">
                            <i class="red_point">*</i>红皮资料日期
                        </label>
                        <div class="f_fl xg1">
                            <div class="f_cb controls_calendar">
                                <input type="text" class="Wdate" id="SCJD92" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" value="@ViewBag.SCJD92" />
                            </div>
                        </div>
                    </div>

                    <!--按钮-->
                    <div class="spxg bf_bnt">
                        <div class="add_r f_fl">
                            <!-- 保存并返回 -->
                            <div class="view_btn f_mt30">
                                <div class="sp_deletbtn baocun bjym" onclick="javascript: window.history.back(-1);">
                                    <span class="bnt_span">
                                        <img class="bnt_img" src="/skins/img/back.png">
                                    </span>返回
                                </div>
                                <div id="btnBC" class="sp_xjbtn baocun bjym">
                                    <span class="bnt_span" id="btnKeep"><img class="bnt_img" src="/skins/img/ico04.png" style=""></span>保存
                                </div>

                            </div>
                          


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var id = "@ViewBag.id";

            //保存编辑
            $("#btnBC").click(function () {
                $.ajax({
                    url: "/GoodsInfo/GetEditQACheckSCJDB",
                    timeout: 0, //超时时间设置，单位毫秒
                    type: "post",
                    data:
                        {
                            id: id,
                            SCJD05: $("#SCJD05").val(),
                            SCJD31: $("#SCJD31").val(),
                            SCJD58: $("#SCJD58").val(),
                            SCJD49: $("#SCJD49").val(),
                            SCJD59: $("#SCJD59").val(),
                            SCJD60: $("#SCJD60").val(),
                            SCJD61: $("#SCJD61").val(),
                            SCJD62: $("#SCJD62").val(),
                            SCJD63: $("#SCJD63").val(),
                            SCJD64: $("#SCJD64").val(),
                            SCJD65: $("#SCJD65").val(),
                            SCJD92: $("#SCJD92").val()
                        },
                    success: function (data) {
                        
                        if (data == "OK") {
                            layer.open({
                                title: '消息',
                                content: '编辑成功！',
                                btn: ['确定'],
                                yes: function (index, layero) {
                                    window.history.back(-1);
                                }
                            });
                        } else if (data == "Operation") {
                            layer.alert("您没有权限请和管理员联系");
                        }
                        else {
                            layer.alert("可能是哪里出错了！");
                        }
                    },
                    error: function () {
                        layer.alert("服务器连接超时");
                    }
                })
            })
        })

    </script>
</body>
</html>